{% macro js_require(request, config=None, minified=False) %}
  {% set min_suffix = '.min' %}
  {% if not minified %}
    {% set min_suffix = '' %}
  {% endif %}

  <script src="{{ request.static_url('sz_front_scaffolding:static/') }}require-2.1.8{{ min_suffix }}.js"></script>
  <script>
    requirejs.config({
        baseUrl: '{{ request.static_url('sz_front_scaffolding:static/') }}',
        paths: {
            jquery: 'jquery-2.0.3{{ min_suffix }}',
            knockout: 'knockout-2.3.0{{ min_suffix }}',
            bootstrap: '{{ request.static_url('sz_front_scaffolding:static/') }}bootstrap-2.3.2/js/bootstrap{{ min_suffix }}'
        },
       shim: {
            'jquery-2.0.3': {
                exports: '$'
            },
            'bootstrap': {
                deps: ['jquery']
            }
        }
    })
  </script>
{% endmacro %}

{% macro css_bootstrap(responsive=False) %}
    <link rel="stylesheet" href="{{ request.static_url('sz_front_scaffolding:static/bootstrap-2.3.2/css/bootstrap{{ min_suffix }}.css') }}" />
    {% if responsive %}
      <link rel="stylesheet" href="{{ request.static_url('sz_front_scaffolding:static/bootstrap-2.3.2/css/bootstrap-responsive{{ min_suffix }}.css') }}" />
    {% endif %}
{% endmacro %}
